<h1>2017 Programs</h1>

<section>
  <%@trips.each do |trip|%>
  <div class = "circle">
    <a href="<%=trip_path(trip)%>">
    <div class="circle" id="trip">
      <p class="overlay"><%=trip.country.upcase%></p>
      <%=image_tag(trip.img_url, class:"trip")%>
    </div>
    </a>
</div>
  <%end%>
</section>
