
<div class="body">
<h3>Update <%=@profile.name%>'s Trip Registration</h3>
<br/>

<%= form_for [@profile, @signup] do |f| %>

<span>Switch Trip:</span> <%= f.select(:trip_id, @trips)%>
<br><br>
  <%= f.submit "Update Registration"%>
<% end %>
</div>
