<h1>2017 Registrations</h1>

<section>
  <div class="body"  id="profile">
  <%@profiles.each do |profile|%>

      <p><span>Participant: </span><%=profile.name%></p>
      <p><span>Trips: </span>

      <% @signups = profile.signups.all%>
        <% @signups.each do |signup|%>
        <%=signup.trip.country%>
        <%end%>
      </p>
      <button><%= link_to "View Profile", profile_path(profile)%></button>

  <%end%>

</div>
</section>
