
<div class="body">
<h3>New Trip Registration</h3>
<br/>

<%= form_for [@profile, @signup] do |f| %>

<span>Trip:</span> <%= f.select(:trip_id, @trips)%>
<br><br>
  <%= f.submit "Register for Trip"%>
<% end %>
</div>
