<section>

<div class="circle">
  <a href="<%=trips_path%>">
    <div id="discover">
      <%= image_tag("map_pointer.png", class:"icon")%>
    </div>
  </a>
</div>

<div class="circle">
<%=link_to trips_path do%>
  <div id="register">
    <%=image_tag("backpack.png", class:"icon")%>
  </div>
<%end%>
</div>

</section>
