 body{
   background-image: url("travel.png");
   background-size: cover;
   background-attachment: fixed;
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: Helvetica;
   color: RGBA(89, 89, 89, 1.00);
   margin-bottom: 30px;
 }

h1{
  font-size: 46px;
  color: RGBA(37, 68, 102, 1.00);
  margin: 10px;
  text-align: center;
}

h2{
  font-size: 34px;
  color: RGBA(37, 68, 102, 1.00);
  margin: 10px;
  text-align: center;
}

h3{
  font-size: 24px;
  padding: 5px;
  color: RGBA(37, 68, 102, 1.00);
  margin: 0;
  text-align: center;
}


p{
  margin: 10px;
  padding: 10px;
  color: RGBA(89, 89, 89, 1.00);
}
 nav {
   float: center;
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin: 20px 0;
   width: 80%;
   background: RGBA(142, 142, 142, .5);
 }

 nav > a {
 color: white;
 text-decoration: none;
 font-size: 18px;
 padding: 4px 20px 4px 20px;
 border: 6px solid transparent;
 }

 nav > a:hover{
  background: #595959;
 }

p{
  text-align: center;
  line-height: 26px;
  padding: 0;
  margin: 0;
}


img.icon {
   max-height: 200px;
   position: relative;
 }

img.trip {
  max-height: 100%;
  position: relative;
}

img.logo{
  max-height: 100px;
}

img.page {
  max-height: 300px;
  position: relative;
}

.overlay {
  position: absolute;
  color: #FFFFFF;
  z-index: 1;
  font-size: 34px;
  padding: 0;
  margin: 0;
}

section {
   display: inline-flex;;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
 }

div.body{
  width:55%;
  height:10%;
  padding: 10px;
  background-color: rgba(255, 255, 255, .8);  display:flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  justify-content:center;
  position:relative;
  overflow: visible;
}


 div.circle{
   width:300px;
   height:300px;
   margin: 30px;
   background-color: rgba(255, 255, 255, 0.5);
   border-radius: 100%;
   align-items: center;
   justify-content:center;
   position:relative;
   display:flex;
   flex-direction: column;
   overflow:hidden;
 }


div:hover:after {
  text-align: center;
  align-items: center;
  justify-content:center;
  position:relative;
  display:flex;
  color: white;
  font-size: 25px;
  width:100%;
  height:100%;
  background: RGBA(15, 59, 107, .7);
  position:absolute;
  top:0;
  left:0;
}

div#discover:hover:after{
  content:"Discover Your Next Adventure";
}
div#register:hover:after {
   content:"Ready, Set, Register!";
}

div#trip:hover:after{
  content:"";
}

div#list{
  max-width: 300px;
  display: flex;
  flex-direction: column;
  text-align: left;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

div#profile{
  width: 600px;
  text-align: left;
}

span{
  padding: 5px;
  line-height: 30px;
  color: RGBA(37, 68, 102, 1.00);
  font-weight: 800;

}

span>a:link {
    text-decoration:none;
}

span>a:link:hover {
    text-decoration:underline;
}
img.pointer{
  width:20px;
  height:20px;
  display: inline-block;
  vertical-align: middle;
}


button>a{
  text-decoration: none;
  color: white;
}

a{
  text-decoration: underline;
  color: RGBA(15, 59, 107, .8);
}


button, .submit{
  padding: 5px 16px;
  margin: 10px;
  font-size: 14px;
  background-color: RGBA(15, 59, 107, .8);
  border-radius: 5px;
  position: relative;
  display: inline-block;
  color: white;

}

button:hover{
  background-color: RGBA(15, 59, 107, 1);
}

.submit:hover{
  background-color: RGBA(15, 59, 107, 1);
}

textarea{
  padding: 10px;
  width: 100%;
  min-height: 80px;
  box-sizing: border-box;
}

#add{
  color:  RGBA(15, 59, 107, 1);
}

#login{
  width: 100%;
  text-align: right;
}
